


<%- include('partials/header.ejs') %>

<%- include('partials/nav.ejs') %>
<div class="wrapper">
    <div class="item1"></div>
    <div class="item2">
        <form action="/" method="post">
            <input type="text" placeholder="name" name="name">
            <input type="text" placeholder="email" name="email">
            <input type="submit" placeholder="Submit">
        </form>
    </div>
    <div class="item3"></div>
</div>


<%- include('partials/footer.ejs') %>


